<body>
    <div class='az-header'>
        <div class='container'>
            <div class='az-header-left'>
                <a href='index.html' class='az-logo'><span></span> BookWorld</a>
                <a
                    href=''
                    id='azMenuShow'
                    class='az-header-menu-icon d-lg-none'
                ><span></span></a>
            </div><!-- az-header-left -->
            <div class='az-header-menu'>
                <div class='az-header-menu-header'>
                    <a href='index.html' class='az-logo'><span></span>
                        BookWorld</a>
                    <a href='' class='close'>&times;</a>
                </div><!-- az-header-menu-header -->
                <ul class='nav'>
                    <li class='nav-item'>
                        <a
                            href='/cpanel/admins/quan-ly-nguoi-dung/1?page=1&limit=10'
                            class='nav-link'
                            style='font-size: 15px;'
                        ><i class='typcn typcn-chart-area-outline'></i>Quản lý
                            người dùng</a>
                    </li>
                    <li class='nav-item'>
                        <a
                            href='chart-chartjs.html'
                            class='nav-link'
                            style='font-size: 15px;'
                        ><i class='typcn typcn-chart-bar-outline'></i>
                            Thống kê</a>
                    </li>
                    <li class='nav-item'>
                        <a
                            href='/cpanel/authors/them-sach'
                            class='nav-link'
                            style='font-size: 15px;'
                        ><i class='typcn typcn-chart-area-outline'></i>Đăng sách</a>
                    </li>
                </ul>
            </div><!-- az-header-menu -->
            <div class='dropdown az-profile-menu'>

                <a href='' class='az-img-user'>
                    <img
                        src='https://static.vecteezy.com/system/resources/previews/002/318/271/original/user-profile-icon-free-vector.jpg'
                    />
                </a>
            </div>
        </div><!-- az-header-right -->
    </div><!-- container -->
    <div class=''>
        <div class='container'>
            <div class='az-content-left az-content-left-components'>

            </div><!-- az-content-left -->
            <div class='az-content-body pd-lg-l-40 d-flex flex-column'>
                <select
                    id='selectChange'
                    onchange='onChangeFindTable(this)'
                    class='select-css'
                    style='height: 30px; font-size: 14px; margin-bottom: 10px; margin-top: 10px;'
                >
                    <option>Danh sách các người dùng</option>
                    <option>Danh sách đang xin làm tác giả</option>
                </select>
                <p style='color: red' id='show_message'></p>
                <div class='table-responsive'>
                    <table class='table mg-b-0'>
                        <thead>
                            <tr>
                                <th style='font-size: 20px;'>ID</th>
                                <th style='font-size: 20px;'>Image</th>
                                <th style='font-size: 20px;'>Name</th>
                                <th style='font-size: 20px;'>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each data}}
                                <tr>
                                    <th scope='row'>{{this.index}}</th>
                                    <td>
                                        <img
                                            style='height:80px ; width:80px;'
                                            src='{{this.image}}'
                                        /></td>
                                    <td>{{this.name}}</td>
                                    <td>{{this.email}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div><!-- table-responsive -->

                <div class='ht-40'></div>

                <div class='az-footer mg-t-auto'>
                    <div class='container'>
                        <span
                            class='text-muted d-block text-center text-sm-left d-sm-inline-block'
                        >Copyright © bootstrapdash.com 2020</span>
                        <span
                            class='float-none float-sm-right d-block mt-1 mt-sm-0 text-center'
                        >
                            Free
                            <a
                                href='https://www.bootstrapdash.com/bootstrap-admin-template/'
                                target='_blank'
                            >Bootstrap admin templates</a>
                            from Bootstrapdash.com</span>
                    </div><!-- container -->
                </div><!-- az-footer -->
            </div><!-- az-content-body -->
        </div><!-- container -->
    </div><!-- az-content -->

    <script>
        let idData={{{idData}}}; const message =
        document.getElementById('selectChange'); if(idData==2){
        message.value="Danh sách đang xin làm tác giả"; }else if(idData==1){
        message.value="Danh sách các người dùng"; } const onChangeFindTable =
        (id) => { const value=id.value; if(value==="Danh sách các người dùng"){
        onGetUser(1); }else if(value==="Danh sách đang xin làm tác giả"){
        onGetUserAccess(2); } } const fetchAPI = async (url, option) => { const
        res = await fetch(url, option); return res.json(); } const onGetUser =
        async (id) => { window.location.href = `/cpanel/users/${id}/allUser` }
        const onGetUserAccess = async (id) => { window.location.href =
        `/cpanel/users/${id}/allUser` } const onWaitAccessAuthor = async () => {
        const url = `/api/accounts/accessAuthor`; const option = { method:
        'post', headers: {'Content-Type':'application/json'}, } try { const
        result = await fetchAPI(url, option); window.location.href =
        '/cpanel/users/1/allUser'; } catch (e) { console.log(e); } }
    </script>
</body>