<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *,
        *:after,
        *:before {
            box-sizing: border-box;
        }

        body {
            font-family: "DM Sans", sans-serif;
            line-height: 1.5;
            background-color: #f1f3fb;
            padding: 0 2rem;
        }

        img {
            max-width: 100%;
            display: block;
        }


        // iOS Reset 
        input {
            appearance: none;
            border-radius: 0;
        }

        .card {
            margin: 2rem auto;
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 425px;
            background-color: #FFF;
            border-radius: 10px;
            box-shadow: 0 10px 20px 0 rgba(#999, .25);
            padding: .75rem;
        }

        .card-image {}

        .card-heading {
            position: absolute;
            left: 10%;
            top: 15%;
            right: 10%;
            font-size: 1.75rem;
            font-weight: 700;
            color: #735400;
            line-height: 1.222;

            small {
                display: block;
                font-size: .75em;
                font-weight: 400;
                margin-top: .25em;
            }
        }

        .card-form {
            padding: 2rem 1rem 0;
        }

        .input {
            display: flex;
            flex-direction: column-reverse;
            position: relative;
            padding-top: 1.5rem;

            &+.input {
                margin-top: 1.5rem;
            }
        }

        .input-label {
            color: #8597a3;
            position: absolute;
            top: 0rem;
            transition: .25s ease;
            font-size: 15px;
        }

        .input-field {
            border: 0;
            z-index: 1;
            background-color: transparent;
            border-bottom: 2px solid #eee;
            font: inherit;
            font-size: 15px;
            margin: 10px;
            padding: .40rem 0;

            &:focus,
            &:valid {
                outline: 0;
                border-bottom-color: #6658d3;

                &+.input-label {
                    color: #6658d3;
                    transform: translateY(-1.5rem);
                }
            }
        }

        .action {
            margin-top: 2rem;
        }

        .action-button {
            font: inherit;
            font-size: 1.25rem;
            padding: 1em;
            width: 100%;
            font-weight: 500;
            background-color: #6658d3;
            border-radius: 6px;
            color: #FFF;
            border: 0;

            &:focus {
                outline: 0;
            }
        }

        .card-info {
            padding: 1rem 1rem;
            text-align: center;
            font-size: .875rem;
            color: #8597a3;

            a {
                display: block;
                color: #6658d3;
                text-decoration: none;
            }
        }

        .dropdown {
            position: relative;
            display: inline-block;
            padding: 50px;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding: 12px 16px;
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</head>

<body>
    <div class='az-header'>
        <div class='container'>
            <div class='az-header-left'>
                <a href='index.html' class='az-logo'><span></span> BookWorld</a>
                <a href='' id='azMenuShow' class='az-header-menu-icon d-lg-none'><span></span></a>
            </div><!-- az-header-left -->
            <div class='az-header-menu'>
                <div class='az-header-menu-header'>
                    <a href='index.html' class='az-logo'><span></span>
                        BookWorld</a>
                    <a href='' class='close'>&times;</a>
                </div><!-- az-header-menu-header -->
                <ul class='nav'>
                    <div class="dropdown">
                        <li class='nav-item'>
                            <a class='nav-link' style='font-size: 15px;'><i
                                    class='typcn typcn-chart-area-outline'></i>Quản lý</a>
                            <div class="dropdown-content">
                                <a href='/cpanel/admins/quan-ly-nguoi-dung/1?page=1&limit=10' class='nav-link'
                                    style='font-size: 15px;'><i class='typcn typcn-chart-area-outline'></i>Quản lý
                                    người dùng</a>
                                <a href='/cpanel/admins/quan-ly-danh-muc' class='nav-link' style='font-size: 15px;'><i
                                        class='typcn typcn-chart-area-outline'></i>Quản lý
                                    danh mục</a>
                                <a href='/cpanel/admins/quan-ly-sach' class='nav-link' style='font-size: 15px;'><i
                                        class='typcn typcn-chart-area-outline'></i>Quản lý
                                    sách</a>
                            </div>
                        </li>
                    </div>
                    <li class='nav-item'>
                        <a href='chart-chartjs.html' class='nav-link' style='font-size: 15px;'><i
                                class='typcn typcn-chart-bar-outline'></i>
                            Thống kê</a>
                    </li>
                    <li class='nav-item'>
                        <a href='/cpanel/authors/them-sach' class='nav-link' style='font-size: 15px;'><i
                                class='typcn typcn-chart-area-outline'></i>Đăng sách</a>
                    </li>
                </ul>
            </div><!-- az-header-menu -->
            <div class='dropdown az-profile-menu'>

                <a href='' class='az-img-user'>
                    <img
                        src='https://static.vecteezy.com/system/resources/previews/002/318/271/original/user-profile-icon-free-vector.jpg' />
                </a>
            </div>
        </div><!-- az-header-right -->
    </div><!-- container -->
    <div class="container">

        <div class="action">
            <a class="action-button" href="/cpanel/authors/quan-ly-chuong/{{data._id}}">Quản lý chương sách</a>
        </div>
        <!-- code here -->
        <div class="card">
            <img src="{{data.image}}" class="card-image">
            <form class="card-form" method="post" action="/api/books/update-book/{{data._id}}">
                <input type="text" name="image" class="input-field" value="{{data.image}}" hidden />
                <div class="input">
                    <input type="text" name="name" class="input-field" value="{{data.name}}" required />
                    <label class="input-label">Tên sách</label>
                </div>
                <div class="input">
                    <input type="text" name="overview" class="input-field" value="{{data.overview}}" required />
                    <label class="input-label">Giới thiệu</label>
                </div>
                <div class="input">
                    <input type="text" class="input-field" name="" value="{{category.name}}" required />
                    <label class="input-label">Thể loại</label>
                </div>
                <div class="input">
                    <input type="text" class="input-field" name="" value="{{data.view}}" required />
                    <label class="input-label">Lượt đọc</label>
                </div>
                <div class="input">
                    <input type="text" class="input-field" name="" value="{{data.evaluate}}/5" required />
                    <label class="input-label">Đáng giá</label>
                </div>
            </form>

            <div class="row d-flex justify-content-center" style="font-size: 15px;">
                <div class="col-md-12 col-lg-12">
                    <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                        <div class="card-body p-4">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="addANote">Các comment</label>
                            </div>
                            {{#each comments}}
                            <div class="card mb-6">
                                <div class="card-body">
                                    <p>{{this.content}}</p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex flex-row align-items-center">
                                            <img src="{{this.image}}"
                                                alt="avatar" width="25" height="25" />
                                            <p class="small mb-0 ms-2" style="padding: 3px;"> {{this.userName}}</p>
                                        </div>
                                        <div class="d-flex flex-row align-items-center">
                                            <p class="small text-muted mb-0">Vote: </p>
                                            <p class="small text-muted mb-0" style="padding: 4px;">{{this.evaluate}}/5</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>